<!doctype html>
<html lang="pt" ng-app='myApp'>
	<head>
		<meta charset="UTF-8">
		<title>Hello World</title>
	</head>
	<body ng-controller="itemsController">
		<p>
		<div id='principal'>
			<button ng-click='habilitaNovo()'>{{addButton}}</button>
			<p>
			<div ng-show='adicionaItem'>
				Novos Itens
				<form>
					<table>
						<tr>
							<td>Nome:</td>
							<td><input ng-model='newitem.nome'></td>
						</tr>
						<tr>
							<td>Quantidade:</td>
							<td><input ng-model='newitem.qtd'><br /></td>
						</tr>
						<tr>
							<td>Preço:</td>
							<td> <input ng-model='newitem.price'></td>
						</tr>
						<tr>
							<td><td /><button ng-click='novo()'>Adicionar</button></td>
						</tr>
					</table>
				</form>
			</div></p>

			Lista de Itens
			<p>
			<table border="1">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Quantidade</th>
						<th>Preço</th>
						<th>Total</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='item in items'>
						<td>{{item.nome}}</td>
						<td><input ng-model='item.qtd'></td>
						<td>{{item.price | currency}}</td>
						<td>{{item.price * item.qtd | currency}}</td>
						<td><button ng-click="remove($index)">Rem.</button><button ng-click="">Ed.</button></td>
					</tr>
				</tbody>
			</table></p>

		</div></p>
		<!-- JS -->
		<script src="js/angular.min.js"></script>
        <script src="js/angular-route.min.js"></script>
		<script src="main.js"></script>
		<script src="controllers/exemplo1Controller.js"></script>

		<!-- CSS -->
		<link href="css/main.css" type="text/css" rel="stylesheet">
		<link href="css/styles.css" type="text/css" rel="stylesheet">
	</body>
</html>
