
<div>
    <button class="btn btn-primary btn-sm" ng-click="cadastrarNovo()" data-toggle="modal" data-target="#myModal">Adicionar Estoque</button>

    <div ng-include="'./views/add_estoque.html'"></div>

    <p>
    <div class="lista">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr dir-paginate="lote in estoque | itemsPerPage:10">
                    <td>{{lote.id}}</td>
                    <td>{{lote.nome}}</td>
                    <td>{{lote.quantidade}}</td>
                    <td>{{lote.preco | currency}}</td>
                    <td>{{lote.preco * lote.quantidade | currency}}</td>
                    <td><button ng-click="remove(lote)" class="btn btn-default btn-sm">Rem.</button>
                        <button class="btn btn-default btn-sm" ng-click="editar($index)" data-toggle="modal" data-target="#myModal">Ed. </button>
                </tr>
            </tbody>
        </table>
    </div>
    <dir-pagination-controls boundary-links="true"  template-url="common/dirPagination.tpl.html"></dir-pagination-controls>
    </p>
</div>
