
<button class="btn btn-primary btn-sm" ng-click="cadastrarNovo()" data-toggle="modal" data-target="#myModal">Adicionar Novo Item</button>

<div ng-include="'./views/adiciona_item.tpl.html'"></div>

<p>
<div class="lista">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="item in items | itemsPerPage:10">
                <td>{{item.nome}}</td>
                <td><input ng-model='item.qtd'></td>
                <td>{{item.price | currency}}</td>
                <td>{{item.price * item.qtd | currency}}</td>
                <td><button ng-click="remove($index)" class="btn btn-default btn-sm">Rem.</button>
                    <button class="btn btn-default btn-sm" ng-click="editar($index)" data-toggle="modal" data-target="#myModal">Ed. </button>
            </tr>
        </tbody>
    </table>
</div>
<dir-pagination-controls boundary-links="true"  template-url="common/dirPagination.tpl.html"></dir-pagination-controls>
</p>
