<div id="identidade">
    <a href="https://www.linkedin.com/pub/m%C3%A1rlon-henrique-souza/37/391/161" target="_blank" style="text-decoration: none; ">
        <img src="./images/linkedin.png" style=" background-color: #FFF; "/>
    </a>
    <a id="linka" href="https://github.com/marlonsouza" target="_blank" style="text-decoration: none">
        <img src="./images/github.png"/>
    </a>
    <a id="linka2" href="http://google.com/+MarlonSouzaPlus" target="_blank" style="text-decoration: none">
        <img src="./images/google-plus.jpg"/>
    </a>
    <div id="mhs">marlon.souuza@gmail.com</div>
</div>
